img {
  max-width: 100%;
  display: block;
  height: auto;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.6rem;
  text-align: center;
  background-color: linen;
}

li {
  margin: 30px;
}
